	@font-face {
		font-family: 'Marketing Script';
		src: url(MarketingScript.eot);
		src: local('Marketing Script'), url(MarketingScript.ttf) format("truetype")
	}
	
	* { margin: 0; padding: 0; }
	body{
	background-color: #fbfbfb;
	margin: 0 auto;
	}
	
	#header {
    width: 100%;
    height: 100px;
    background: #fbfbfb;
    }
	.gorny_panel {	
		display:block;
		width: 100%;
		height: 26px;	
		background: #fbfbfb;
		display: block;
		list-style: none;
		float: left;

    }
	.gorny_panel > ul {
	 margin-top: 3px;
	 margin-left: 30px;
	}	
	.gorny_panel > ul > li{
	  display: inline;
	 
	}
	
	.gorny_panel > ul > li > a {
       
        text-decoration:none;
        background-color:#fbfbfb;
		padding: 10px;
        text-align:center;
        color:#ff6600;
        font-size:18px;
        background-repeat:repeat-x;
      }
	  .gorny_panel > ul > li:last-child > a {
       
        text-decoration:none;
        margin-right: 50px;
		
		
		float: right;
	    background-color:#fbfbfb;
        text-align:center;
        color:#ff6600;
        font-size:18px;
 
      }
	
	
	.ekran_zawartosci {
    height: 800px;
    background: #fbfbfb;
    margin-left: 200px;
	padding-top: 100px;
	display:block;
	float: none;
	text-align:center;
    }

	
	
	.menu {
		width: 200px;
		height: 774px;
		background: #fbfbfb;
		float: left;
		padding-top: 20px;
		}

.menu  ul.glowna 
	{	
		width: 111;
	    position: relative;
	}
	.menu li{
		width: 111px;
		list-style-type:none;
	}
		
	.menu > ul ul:nth-child(n)
	{
		display: none;     
	}
	
	li:hover  > ul.podkat
	{
		display: block;	
		position: absolute;
        left: 100%;
		
		margin-top:-2.2em;
	}
	
     .menu ul li a {
        display:block;
        text-decoration:none;
        background-color:#f3f3f3;
        padding: 10px;
		width: 90px;
        text-align:center;
        color:#00A0AA;
        font-size:18px;
        border:1px solid #FFF;
        background-repeat:repeat-x;
      }
	  
	
	
	  
	  
	
	  
	  
	 
      

   

	
	
	
	
	
	
	

	  